@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */

*{
        font-family: "Source Sans Pro", sans-serif;
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -o-box-sizing:border-box;
        -ms-box-sizing:border-box;
}

.wrapper{
        width:1024px;
        margin: 0 auto;
}

.col-3{
        columns: 3;
}

h1{
        color:#ffffff;
}

h2{
        color: #3F3C45;
}

h1,
h2,
h3{
        text-transform: uppercase;
        margin: 0 auto;
        line-height: 40px;
}

h2,
h3{
        line-height: 25px;
        font-size: 18px;
}

span{
        font-weight: 200;
        font-size: 30px;
}

#hosting-moving h2{
        font-size: 35px;
}

#hosting-moving span{
        font-size: 18px;
}

.row{
        display: flex;
        justify-content: space-between;
}

.form .row{
        align-items: center;
}

#hosting-moving{
        margin-bottom: 40px;
}


#hosting-moving p:last-of-type{
        margin-top: 40px;
}

i{
        color: #FE8360;
        font-size: 50px;
        margin: 8px 40px 0 0 ;
}

ul li{
        list-style: none;
        color:#3F3C45;
}

a{
        background-color: #FE8360;
        transition: 1s;
        padding:15px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 auto;
}

a:hover{
        background-color: #51CCF6;
        transition: 1s; 
}

div>a{
        background-color: transparent;
}

div>a:hover{
        background-color: transparent;
}

.fa-certificate{
        position: absolute;
        margin-right: 10px;
        width: 200px;
}


#background-img{
        background: url(../img/hosting-img.jpg)no-repeat;
        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        -ms-background-size:cover;
        width: 510px;
        height: 350px;
        margin: 20px;
}

#bg-header{
        background: url(../img/hero-img.jpg) no-repeat center;
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        -ms-background-size:cover;
        padding: 200px;
        margin: 0 auto;
        margin-bottom: 15px;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        line-height: 35px;
}

#bg-header p{
        text-transform: uppercase;
        font-size: 45px;
        font-weight: 700;
}

.navigation ul li,
.media li {
        display: inline-block;
        margin: 0 auto;
        margin-top: 12px;
}

.media li{
        margin: 0 8px;
}

ul .contact{
        justify-content: flex-end;
}

.contact li a{
        padding:0;
        margin-bottom: 8px;
        background-color: transparent;
        color: #3F3C45;
        text-transform: lowercase;
        margin: 4px;
}

.contact li a:hover:first-of-type{
        color:#FE8360;
}

.benefits{
        background-color: #51CCF8;
}

.benefits,
.hosting{
        padding:80px;
        color:#ffffff;
        font-size: 30px;
}

.hosting{
       background-color: #FE8360; 
}

.group-items section{
        width:410px;
        margin: 0 8px;
}
.group-items{
        margin: 80px 0;
}

#hosting-moving li{
       color: #000000;
}

fieldset{
        border:none;
}

.form h2 span{
        font-size: 20px;
}

.form h2{
        font-size: 40px;
}

.form header>div i{
        font-size: 20px;
}

input{
        width: 300px;
        height: 50px;
}

select{
        padding: 12px;
        width:140px;
}

.form{
        background-color: #E7F5F8;
        padding: 40px;
}

table span:first-of-type{
        font-size: 70px ;
}

thead tr:first-child th{
        text-transform: uppercase;
        font-size:25px;
        font-weight: 500;
}

thead tr:first-child>th:first-line{
        font-weight: 700;
        font-size: 70px;
}

thead tr:first-child>th:first-letter{
        font-weight: 200;
}

table span:last-of-type{
        font-size: 25px;
}




table{
        width: 1024px;
        text-align: center;
        margin: 60px 0;
        padding: 20px 0;
        color:#3F3C45;
        border: solid 2px #E0DFE1;
        border-collapse: collapse;
}

tbody tr,
tbody td{
        border-top: 1px solid #E0DFE1;
        padding: 10px;
}

p button,
td button{
        background-color: #FE8360;
        transition: 1s;
        padding:15px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 auto;
        border:none;
        width: 200px;
        margin: 30px 0;
}

th button{
        width: 200px;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #51CCF8;
        padding: 8px;
        margin: 20px 0;
        border:none;
}


td,
th{
        border-right: solid 1px #E0DFE1;
}
p button:hover,
td button:hover{
        background-color: #51CCF6;
        transition: 1s;
}


tbody tr:first-child{
        border-top: none;
}

footer{
        background-color: #4D515C;
        padding: 40px;
        color:#ffffff;
}

tfoot a{
        width: 200px;
}

footer li a,
footer nav,
footer ul,
footer li{
        background-color: transparent;
        color:#B6BCC7;
        padding: 0;
        text-transform: capitalize;
        transition:none;
        margin: 10px 0;
        font-size: 14px;
}

footer nav:hover,
footer a:hover{
        color:white;
        background-color: transparent;
        transition:none;
}

footer b{
        color:#ffffff;
}

footer nav{
        display: inline-block;
}